body{
    background-image: linear-gradient(78deg, rgba(96, 96, 96, 0.04) 0%, rgba(96, 96, 96, 0.04) 35%,rgba(220, 220, 220, 0.04) 35%, rgba(220, 220, 220, 0.04) 100%),linear-gradient(150deg, rgba(83, 83, 83, 0.04) 0%, rgba(83, 83, 83, 0.04) 71%,rgba(6, 6, 6, 0.04) 71%, rgba(6, 6, 6, 0.04) 100%),linear-gradient(311deg, rgba(203, 203, 203, 0.04) 0%, rgba(203, 203, 203, 0.04) 58%,rgba(3, 3, 3, 0.04) 58%, rgba(3, 3, 3, 0.04) 100%),linear-gradient(137deg, rgba(110, 110, 110, 0.04) 0%, rgba(110, 110, 110, 0.04) 11%,rgba(226, 226, 226, 0.04) 11%, rgba(226, 226, 226, 0.04) 100%),linear-gradient(90deg, rgb(215, 19, 84),rgb(234, 119, 123));
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Anek Malayalam', sans-serif;
}

.link-section{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
i{
    font-size: 30px;
    margin-right: 10px;
}

.profile-section{
   height: 300px;
   width: 100%;
   background-color: #e9ecef;
   display: flex;
   justify-content: center;
   align-items: center;

}

.profile-inner{
    display: flex;
    padding: 10px;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.profile-photo{
    width: 200px;
    height: 200px;
    background-image: url("./me.jpg");
    background-size: cover;
    border-radius: 50%;
}

.desc-section{
    padding-left: 20px;
}

.project-section{
    text-align:center;
    font-size: 30px;
    color:white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

.project-inner{
    padding-top: 30px;
}


a{
    text-decoration: none;
    color: #06d6a0;
}

.single-holder{
    display: flex;
    opacity: 0;
    position: relative;
    right: 30px;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    padding-bottom: 50px;
    text-align: left;
}

.single-holder:nth-child(even){
    display: flex;
    justify-content: end;
}

.single-holder:nth-child(odd){
    padding-left: 30px;
}


.second-single{
  flex: 1;
}

.title-project{
    font-size: 30px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color:white;
    border-radius: 50px;
    box-shadow:  20px 20px 100px #cacaca,
                 -20px -20px 100px #f6f6f6;
}


.single-project{
    position: relative;
    width: 600px;
    height: 300px;
    border-radius: 10px;
}


.single-project:nth-child(odd){
    margin-right: 50px;
   
}

.single-project:nth-child(even){
    margin-left: 10px;
  
}

.single-project:hover{
    cursor:pointer;
}

.single-project:hover .black-cover{
    background-color:rgba(3, 3, 3, 0.5);
    cursor:pointer;
}

.black-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(3, 3, 3, 0);
    z-index: 10;
    border-radius: 10px;
    transition-duration: 200ms;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.single-inner{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.project-image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
}

.single-holder.active{
    opacity: 1;
    right: 0px;
}

.up-right{
    color: black;
}

.fa-solid{
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

.fa-solid:hover{
    top: -4px;
    right: -4px;
}